<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Businesses</title>
         <link rel="stylesheet" 
      type="text/css" 
      href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Business | Learn about local businesses
        {% endblock %}
        {% block content %}Businesses{% endblock %}

        {% block body %}

        <section class="module parallax parallax-b-1">
  <div class="container">
    <!-- <h1>Tibet</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Do Kham</h2>
    <p>Do Kham Treasures from Tibet, the website was built with Volusion and includes online payment options. First featured in the New York Times, as a Style Maker in 1991, Phelgye Kelden, the creator of DoKham has given DoKham the prominent reputation of "a secret address in Elle Magazine's shops they love." (<a href="http://www.dokham.com/aboutus.asp">DoKham</a>, About Us).  </p>
    <p></p>
  </div>
</section>

<section class="module parallax parallax-b-2">
  <div class="container">
   <!--  <h1>Rise</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2><a href="http://www.gatewaytotibet.com/about/">Gateway to Tibet</a></h2>
    <p>Displays the artwork of Elizabeth Esther Kelly, a practicing Buddhist. She also has a <a href="http://www.gatewaytotibet.blogspot.com/">blog</a> in which she shares her journey.  </p>
  </div>
</section>

<section class="module parallax parallax-b-3">
  <div class="container">
    <!-- <h1>Calm</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2><a href="http://www.himalayansalon.com/">Himalayan Salon</a></h2>
    <p>The website design has a modern and sleek design. With a website precense and precense on social media, including <a href="https://www.facebook.com/pages/Himalayan-Salon-Queens/556688101018559">Facebook</a>, <a href="http://instagram.com/himalayansalon">Instagram</a>, and <a href="http://www.yelp.com/biz/himalayan-eyebrow-threading-salon-inc-new-york">Yelp</a>, the Himalayan Salon has taken full advantage of reaching customers through social media. </p>
  </div>
</section>
<section class="module content">
  <div class="container">
  <h2>Other Tibetan Businesses</h2>
  <ul class="no-bullet">
    <li><a href="http://www.dolmarugs.com/">Dolma Hand Knotted Rugs</a> has a website that was published and 1999, and possibly has not been significantly updated since. Given the large culture of spreading by word or mouth. Another store, Dolma Tibetan Carpets, located in Menlo Park, CA has a more modern looking website <a href="http://www.dolmatibetancarpets.com/">here</a>.</li>
    <li>The <a href="http://tibethouse.us/">Tibet House</a> is Cultural Center for Tibetans that holds programs for local Tibetans. It originated in 1991, when teh Tibet House US "initiated The International Year of Tibet as a worldwide celebration of Tibetan culture."</li>
    <li>The company <a href="http://www.moderntibet.com">Modern Tibet</a> sells "the best Tibetan style Handmade Silver Jewelry and Handicrafts made by Tibetans from Tibet, Nepal and India." This website uses Yahoo Commerce to sell its merchandise online. </li>
  </ul>
  </div>
</section>
        {% endblock %}
    </body>
</html>
