<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tibetan Cuisine</title>
         <link rel="stylesheet" 
      type="text/css" 
      href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Cuisine | Learn about Tibetan food
        {% endblock %}
        {% block content %}Tibetan Cuisine in New York City{% endblock %}

        {% block body %}
<section class="module parallax parallax-cuisine-1">
  <div class="container">
    <!-- <h1>Tibet</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Phayul</h2>
    <p>Phayul is a resturaunt located at ADDRESS. It famously serves Momo. When I interviewed the head chef at Phayul, he spoke to be about his experience working in New York City. One common theme at the resturaunts I visited is that a majority of the customers hear about the resturaunts through word of mouth and most many of the customers are Tibetans. </p>
    
  </div>
</section>

<section class="module parallax parallax-cuisine-2">
  <div class="container">
   <!--  <h1>Rise</h1> -->
   
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Friend's Corner Cafe</h2>
    <p>This small restaurant had delicious food, and was one of the stops along the Momo Crawl, where over 30 resturaunts were visited to determine which resturaunt had the best Momos.</p>

  </div>
</section>

<section class="module parallax parallax-cuisine-3">
  <div class="container">
    <!-- <h1>Calm</h1> -->
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>GangJong Kitchen</h2>
    <p>This resturant had delicious food. After speaking to the chef and owner, I learned that since opening the resturaunt in New York, they had added certain items to the menu to have something on the menu that might appeal to non-Tibetans as well. This resturaunt was also a part of the Momo Crawl.</p>
  </div>
</section>
<section class="module parallax parllax-cuisine-4">
    <div class="container">
        
    </div>
</section>
<section class="module content">
    <div class="container">
    <h2>Amdo Kitchen New York</h2>
    <p>This is a food truck located across the street from the other resturaunt Phayul. Amdo Kitchen advertises on <a href="https://foursquare.com/v/amdo-kitchen/52ab7b9a11d2566460b65fcf">Foursquare</a> and <a href="http://www.yelp.com/biz/amdo-kitchen-jackson-heights">Yelp</a></p>
    </div>
</section>
<section class="module parallax parllax-cuisine-5">
    <div class="container">
    
    </div>
</section>
<section class="module content">
    <div class="container">
    <h2>Learn more about the Momo Crawl</h2>
    <p><a href="{{ url_for('momocrawl_page') }}" class="button extended">Click Here</a> to check out the Momo Crawl in Jackson Heights</p>
    </div>
</section>
        {% endblock %}
    </body>
</html>
