<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Free Tibet</title>
         <link rel="stylesheet" 
      type="text/css" 
      href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% extends "landingpage.html" %}
        <!-- freetibet.html -->
        {% block title %}
        Free Tibet | Learn about Free Tibet
        {% endblock %}
        {% block content %}Free Tibet{% endblock %}

        {% block body %}
      <section class="module parallax parallax-free-1">
  <div class="container">
    <!-- <h1>Tibet</h1> -->
    <iframe width="853" height="480" src="//www.youtube.com/embed/yXRBnnOyn1w" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Seven Days in Tibet</h2>
    <p>French 24, a news website reported on the conditions in Tibet in 2013. On the comments on the video, posted on YouTube, it states "FRANCE 24 reporter Cyril Payen has been subjected to "mafia"-style intimidation from Chinese diplomats angered by an under-cover report he filmed in Tibet." Following this incident, the reports were also shared on <a href="http://www.phayul.com/news/article.aspx?id=33579">Phayul.com</a>, a website used to connect Tibetans in exile. With over 155 likes on Facebook, the article on Phayul was shared </p>
  </div>
</section>

<section class="module parallax parallax-free-2">
  <div class="container">
    <!-- <h1>Calm</h1> -->
    <iframe src="//player.vimeo.com/video/29033254" width="800" height="455" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p class="centerText"><a href="http://vimeo.com/29033254">A Free Tibet</a> from <a href="http://vimeo.com/sunnyzorawar">sunny zorawar</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Free Tibet</h2>
    <p>This short film is directed and edited by Sunny Zorawar and the background score is written by Robert J. P. Oberg. In just over five minutes, Sunny brings to light some of the most significant issues being faced in Tibet. In the first interview, a man explains the struggle of choosing to send one's child away to a foreign country in hopes of helping their children find a better education and freedom. With 31 likes as of December 15, this video has put faces and personal stories to the issues of Tibet. </p>
  </div>
</section>
<section class="module parallax parllax-free-3">
    <div class="container">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/saveTibet" data-widget-id="544682665254068224">#saveTibet Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</section>
<section class="module content">
    <div class="container">
    <h2>#saveTibet</h2>
    <p>This is one of a number of trending hashtags on twitter that allow people to share support in saving Tibet. </p>
    </div>
</section>
<section class="module content">
  <div class="container">
  <h2>Support for Tibet</h2>
    <p> There are many organizations around the world that work to advocate for a free Tibet. Among these organizations is <a href="http://www.friendsoftibet.org/">Friends of Tibet</a>, an organization with the mission of gaining independence for Tibet. Friends of Tibet features a section on <a href="http://www.friendsoftibet.org/mediaonfot/">media</a> that brings to light issues in Tibet through <a href="http://www.friendsoftibet.org/mediaonfot/20051003_cartoon.html">cartoons</a>, news artciles, among other media outlets.</p>
    <p>Another organization that supports Tibet is the Central Tibetan Administration, Restoring Freedom for Tibetans. The website for the organization is <a href="http://tibet.net/">tibet.net</a>, where they have an entire section devoted to the Media Center, where they have archives of online resources and media regarding Tibet.</p>
    <p>One of the most powerful tools in giving Tibetans a voice on the global stage is social media. <a href="http://freetibet.org/get-involved/videos-graphics">freetibet.org</a> calls upon its readership to take action by sharing the information. "You play a vital role in ensuring that Tibetans' struggles are heard and that a growing number of people across the world are taking action for Tibet," (<a href="http://freetibet.org/get-involved/videos-graphics">Get Involved, Videos and Graphics</a>). Free Tibet explains that "Communications in Tibet are heavily restricted and monitored, with Tibetans risking arrest and torture to send information to the outside world."</p>
    <p><a href="https://www.studentsforafreetibet.org/about-us">Students for a Free Tibet</a> is an international organization that calls upon students to create changes. The vision of Students for a Free Tibet is "In our work for Tibetan independence we also aim to inspire and enable people, especially youth, to create a just and equitable world, free of oppression, in which there is respect for the earth and all living things." </p>
    <p><a href="http://www.savetibet.org/">International Campaign for Tibet</a> that has resources for people to get involved in supporting Tibet's fight for independence, along withe informational resources.</p>
    <p>The <a href="http://www.freetibet.net/">Free Tibet Campaign USA</a> advocates for improvement through communication and education of the issues in Tibet. The Free Tibet Campaign proudly shows that it has had an online web presence for over 10 years, they "have been online supporting the Free Tibet movement through education and online campaigns." Social media and online campaigns allow Tibetans in exile, along with other people around the world, to contribute to the fight for independence in Tibet. </p>
    <p> Another organization is <a href="http://freetibetanheroes.org/take-action/">Free Tibetan Heroes</a> "is a global campaign devised to highlight the cases of Tibetan political prisoners and take action for their release." The organization asks people to send messages to political leaders. They also have a presence on <a href="https://twitter.com/TheTibetNetwork">twitter</a> to send timely updates. This allows people to stay connected with the cause by receiving updated information.</p>
  </div>
</section>
        {% endblock %}
    </body>
</html>
